@using ImageList.Models;
@model IEnumerable<ImageView>;
@{
    ViewData["Title"] = "Index";
}
<heads>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script>
    //$(document).ready(function () {
    //  $("#list").click(function () {
    //        alert(this.textContent)
    //  });
    //});
  </script>
    <div class="container p-3">
</div>
</heads>
  <body>
    <div class="container p-3">
      <div class="row">
        <div class="col">
          <ul class="list-group-item-primary" id="list">
                @foreach(var obj in Model)
                {
                        <li data="@obj.GUID"><a href="/ImageView/Show/@obj.GUID">@obj.Name</a></li>
                    if (obj.Extension==""){
                        <ul>
                                <li><a>@obj.Name</a></li>
                        </ul>
                    }
                }
          </ul>
        </div>
        <div class="form-group border col">
          <img
            id="manipulableImage"
            src=""
            alt="Image place holder"
            class="img-fluid rounded float-right"
            style="display: block"
          />
      @*    <canvas
            style="
              display: block;
              margin: 1em auto;
              background: #fff;
              border: 1px solid #ccc;
            "
            class="rounded"
          ></canvas>*@
        </div>
      </div>
    </div>
    <a asp-controller="ImageView" asp-action="Add" class="btn btn-primary">Add Image</a>
    <script src="~/js/site.js"></script>
  </body>

